@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');


h1{
    font-family: 'Poppins';
    font-size: 60px;
    color: white;
    text-shadow: 2px -1px 19px rgba(248,222,34,0.58);
}

body{

    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form{
    background-color: black;
    height: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;

    border: 3px solid #F8DE22;
    -webkit-box-shadow: 0px 0px 45px -8px rgba(248,222,34,0.5);
-moz-box-shadow: 0px 0px 45px -8px rgba(248,222,34,0.5);
box-shadow: 0px 0px 45px -8px rgba(248,222,34,0.5);

}


input{
    border: #F8DE22 2px solid;
    background-color: transparent;
    width: 250px;
    height: 30px;
    font-family: 'Helvetica';
    color: white;
    font-weight: bolder;
    text-indent: 10px;
}

button{
    background-color: #F8DE22;
    margin-top: 30px;
    width: 150px;
    height: 40px;
    border: none;
    font-family: 'Poppins';
    transition:0.2s ease-in-out;
    
}

button:hover{
    cursor:pointer;
    transform:translate(0,-5px);
}
p{
    font-family: "Poppins";
    position: relative;
    color: white;
    left: -50px;
}

#result p{
    font-size: 20px;
    margin-left: 50px;
}